@import "fonts";

body {
  font-family: Montserrat, sans-serif;
  font-family: Lato, sans-serif;
  background-color: rgb(175, 77, 41);
  span {
    color: black;
  }
  
}

@media (max-width: 768px) {
  span {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  body {
    background-color: chartreuse;
  }
}
