.html {
  @import "fonts";
  font-size: 10px;
}
.header {
  width: 100%;
}
.heder-menu-desktop {
  margin: 0 auto;
}
._container {
  max-width: 1170px;
  margin: 0 auto;
}
.section__title {
  @include titeles;
  font-size: 1.6rem;
  color: #4e4e4e;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 24px;
  @media (max-width: 768px) {
    padding-left: 15px;
  }
}

// menu-desktop
.menu-desktop__list {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  @media (min-width: 1084px) {
    gap: 0.04rem;
  }
  @media (min-width: 821px) {
    align-content: center;
    flex-wrap: no-wrap;
    font-size: 0.4rem;
    gap: 0.2rem;
  }
  @media (max-width: 768px) {
    opacity: 0;
    height: 110px;
  }
  @media (max-width: 768px) {
    opacity: 0;
    height: 97px;
  }
}
.menu-desktop__item {
  margin: 43px 0px;
  align-items: center;
  @include link-style;
  flex-wrap: nowrap;
  color: #4e4e4e;
}
.menu-desktop__link {
  color: $menu-color;
  @extend %list-clear;
  font-size: 1.1rem;
  line-height: 22px;
  @media (max-width: 668px) {
    font-size: 0.8rem;
  }
}
.menu-desktop__link {
  &:hover {
    color: #57a4a4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

// menu-mobile
.nav__check-box {
  display: none;
}
.header__menu-mobile {
  display: none;
}
.header__menu-mobile {
  display: flex;
  justify-content: end;
  align-self: flex-end;
  z-index: 5;
  position: fixed;
  right: 6%;
  opacity: 0;
}
@media screen and (max-width: 760px) {
  [for="burger"] {
    display: block;
    position: fixed;
    width: 44px;
    text-align: center;
    padding-top: 12px;
    height: 44px;
    right: 39px;
    top: 52px;
    background-color: #000000;
  }
  [for="burger"]:before {
    content: "☰";
    color: white;
    font-size: 17px;
  }

  .nav__check-box:checked + .lable__for-checkbox + .header__menu-mobile {
    display: flex;
    justify-content: end;
    z-index: 5;
    position: fixed;
    right: 6%;
    opacity: 1;
  }

  #burger:checked + [for="burger"]:before {
    content: "╳";
    z-index: 10;
  }
}
.menu-mobile__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  width: 182px;
  background-color: rgba(245, 245, 245, 0.877);
}

.menu-mobile__link {
  &:hover {
    color: #57a4a4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.menu-mobile__item {
  padding: 6px;
  align-items: center;
  @include link-style;
  flex-wrap: nowrap;
  color: #4e4e4e;
}

.menu-mobile__link {
  color: $menu-color;
  @extend %list-clear;
  font-size: 1.1rem;
  line-height: 22px;
  padding-left: 15px;
}

// main image
.main-img__wrap {
  @include img-cover;
  @media (max-width: 330px) {
    width: 100%;
  }
}
.main__img {
  width: 100%;
  display: block;
  object-fit: cover;
}

//posts
.main {
  padding-top: 66px;
  margin: 0 auto;
  width: 90%;
}
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 2fr));
  grid-gap: 30px;
  padding-bottom: 70px;
}

.post__item {
  display: flex;
  width: 100%;
  color: #4e4e4e;
  @media (max-width: 562px) {
    flex-direction: column;
  }
}
.post__item-text {
  display: block;
  padding-left: 21px;
  @media (max-width: 562px) {
    padding-left: 0px;
  }
}
.post__item-title {
  margin-top: 0px;
  font-style: bold;
  font-size: 1.4rem;
  line-height: 30px;
  text-shadow: 1px 1px 1px 1px black;
  @media (max-width: 1149px) {
    font-size: 1.2rem;
  }
  @media (max-width: 563px) {
    margin-top: 21px;
  }
}
.post__item-subtitle {
  font-style: normal;
  font-size: 0.9rem;
  line-height: 20px;
  @media (max-width: 1149px) {
    font-size: 0.8rem;
  }
  @media (max-width: 563px) {
    margin-top: 14px;
  }
}
.post__text {
  padding-top: 10px;
  font-style: normal;
  font-size: 1rem;
  line-height: 26px;
  @media (max-width: 1149px) {
    font-size: 0.9rem;
  }
  @media (max-width: 563px) {
    display: none;
  }
}

// instagram shots
.section__insta-wrap {
  width: 100%;
}
.section__insta {
  background-color: #f7f7f7;
  padding-bottom: 66px;
}
.section__insta-titles {
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
}
.title {
  @media (max-width: 862px) {
    font-size: 1.3rem;
  }
  @media (max-width: 500px) {
    font-size: 0.95em;
  }
  @media (max-width: 400px) {
    font-size: 1.1rem;
  }
}
.title-show {
  padding-left: 23px;
  font-size: 1.2rem;
  @media (min-width: 1200px) {
    padding-left: 200px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.gallery__insta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}
.img-insta__link {
  width: 100%;
  object-fit: cover;
}
.fourth-img {
  @media (max-width: 1200px) {
    display: none;
  }
}
.third-img {
  @media (max-width: 974px) {
    display: none;
  }
}
.second-img {
  @media (max-width: 505px) {
    display: none;
  }
}
.gallery__insta {
  display: flex;
}
.img-insta__link {
  width: 100%;
  object-fit: cover;
}
//footer
.footer {
  background-color: #000000;
}
.footer__container {
  text-align: center;

  padding-bottom: 34px;
}
.contact__footer {
  @media (max-width: 835px) {
    padding-top: 37px;
    padding-left: 35px;
    padding-right: 35px;
  }
  @media (max-width: 535px) {
    padding-top: 25px;
    padding-bottom: 57px;
  }
}
.section__title-footer {
  @include titeles;
  @include titeles-size;
  padding-top: 61px;
  padding-bottom: 22px;
  color: #b9b9b9;
  @media (max-width: 768px) {
    padding-top: 41px;
  }
}
.footer__text {
  @include titeles-size;
  color: #b9b9b9;
  width: 70%;
  margin: 0 auto;
}
.footer__text-hide {
  @media (max-width: 768px) {
    display: none;
    font-size: 13px;
  }
}
.footer__nav {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 37px;
  margin-bottom: 26px;
}
.footer__nav-icon {
  width: 34px;
}
.contact__footer {
  padding-bottom: 70px;
  line-height: 24px;
  color: #b9b9b9;
  @include titeles-size;
  @media (max-width: 768px) {
    padding-left: 68px;
    padding-right: 68px;
  }
}
