<!-- <nav class="top-navigation wrapper">
  <div class="top-navigation__logo">
    <div class="top-navigation__image-container"><img src="@img/Logo 1.png" alt="" class="top-navigation__image" /></div>
    <h1 class="top-navigation__heading">forkio</h1>
  </div>
  <ul class="top-navigation__menu">
    <li class="top-navigation__item">Overview</li>
    <li class="top-navigation__item">About Fork</li>
    <li class="top-navigation__item">Buying Options</li>
    <li class="top-navigation__item">Support</li>
    <button class="top-navigation__cta">Buy Now</button>
  </ul>
</nav> -->
