<footer class="footer__section">
      <div class="footer__wrapper container">
        <h2 class="section__title">- GET IN TOUCH WITH US -</h3>
          <p class="section__text">
            Maecenas faucibus molli interdum. Cras mattis consectetur
            purus sitor amet sed donec malesuada ullamcorper odio.
            Curabitur blandit tempus porttitor vollisky inceptos 
            mollisestor.
          </p>
          <nav class="nav__footer">
            <!-- <a href="wi-fi"><img src="@img/icon_footer_wi_fi_1.png" alt="wi_fi"></a>
            <a href="wi-fi"><img src="@img/icon_footer_facebook_2.png" alt="wi_fi"></a>
            <a href="wi-fi"><img src="@img/icon_footer_Twitter_3.png" alt="wi_fi"></a>
            <a href="wi-fi"><img src="@img/icon_footer_Dribbble_4.png" alt="wi_fi"></a>
            <a href="wi-fi"><img src="@img/icon_footer_Pinterest_5.png" alt="wi_fi"></a> -->
          </nav>
          <p class="contact__footer">Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 / first.last@email.com</p>
      </div>
      
    </footer>