<header class="page__header page-header">
       <div class="container">
        <nav class="page-header__nav">
          <ul class="menu">
            <li class="menu__item">
              <a
                class="menu__link menu__link--active menu__link--active"
                href="#"
                >HOME
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link menu__link" href="#">ABOUT US </a>
            </li>
            <li class="menu__item">
              <a class="menu__link menu__link" href="#">OUR JOURNAL </a>
            </li>
            <li class="menu__item">
              <a class="menu__link menu__link" href="#">PROJECTS </a>
            </li>
            <li class="menu__item">
              <a class="menu__link menu__link" href="#">NEWS </a>
            </li>
            <li class="menu__item">
              <a class="menu__link menu__link" href="#">FEATURES </a>
            </li>
            <li class="menu__item">
              <a class="menu__link menu__link" href="#">CONTACT </a>
            </li>
          </ul> 
					<!-- // что бы получить список картинок сначала из-за созданых конструкционных 
					//файлов html нужно выйти из папки html-модулями, там уже зайти в img и выбрать необходимую картинку  -->
        </nav>
      </div>
    </header>