<main>
  <span>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit,
     fugiat quam excepturi odio soluta doloribus nihil, numquam tempore
     re amet rem omnis, vero tempora! Quasi deserunt libero ipsa invent
     etur?
  </span>
	   <!--  <picture>
          <source media="(min-width:1000px)" srcset="@img/rails.png" />
            <source media="(max-width:768px)" srcset="@img/rails_768.png" />
            <source media="(max-width:400px)" srcset="@img/rails_320.png" />
            <img src="src/img/rails.png" alt="rails" /> 
          </picture> -->
					<img src="@img/rails_768.png" alt="rails"/>
					<!-- // что бы получить список картинок сначала из-за созданых конструкционных 
					//файлов html нужно выйти из папки html-модулями, там уже зайти в img и выбрать необходимую картинку  -->

					<section class="section__ourposts container">
      <h2 class="section__title">- OUR RECENT POSTS</h3>

      <div class="ourposts__container ">
        <div class="ourposts__container-item ">
            <!-- <div class="ourposts__img"><a href="#"><img class="ourposts__img-item" src="@img/post_img_1.png" alt="tea"></a></div> -->
            <div class="ourposts__content">
              <h3 class="ourposts__item-title">Aenean Adipiscing Etiam Vestibulum</h4>
              <h4 class="ourposts__item-subtitle">Photography, Journal / 9 Comments</h4>
              <p class="ourposts__item-text">Etiam porta sem malesuada euismod. Aenean 
                leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </div>

        <div class="ourposts__container-item ">
          <!-- <div class="ourposts__img"><a href="#"><img class="ourposts__img-item" src="@img/post_img_2.png" alt="tea"></a></div> -->
          <div class="ourposts__content">
            <h3 class="ourposts__item-title">Aenean Adipiscing Etiam Vestibulum</h4>
            <h4 class="ourposts__item-subtitle">Photography, Journal / 9 Comments</h4>
            <p class="ourposts__item-text">Etiam porta sem malesuada euismod. Aenean 
              leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
          </div>
        </div>
        <div class="ourposts__container-item ">
          <!-- <div class="ourposts__img"><a href="#"><img class="ourposts__img-item" src="@img/post_img_3.png" alt="tea"></a></div> -->
          <div class="ourposts__content">
            <h3 class="ourposts__item-title">Aenean Adipiscing Etiam Vestibulum</h4>
            <h4 class="ourposts__item-subtitle">Photography, Journal / 9 Comments</h4>
            <p class="ourposts__item-text">Etiam porta sem malesuada euismod. Aenean 
              leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
          </div>
        </div>
        <div class="ourposts__container-item ">
          <div class="ourposts__img"><a href="#"><img class="ourposts__img-item" src="@img/post_img_4.png" alt="tea"></a></div>
          <div class="ourposts__content">
            <h3 class="ourposts__item-title">Aenean Adipiscing Etiam Vestibulum</h4>
            <h4 class="ourposts__item-subtitle">Photography, Journal / 9 Comments</h4>
            <p class="ourposts__item-text">Etiam porta sem malesuada euismod. Aenean 
              leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="ourposts__title-wrap container">
         <h2 class="section__title ">- LATEST INSTAGRAM SHOTS</h3>
      <h2 class="section__title">GO TO OUR INSTAGRAM PAGE -</h3>
      </div>
     <div class="gallery__istagram container">
       <!-- <img src="@img/post_img_insta_1.png" alt="bicycle">
       <img src="@img/post_img_insta_2.png" alt=" door_handle">
       <img src="@img/post_img_insta_3.png" alt="electric_wires">
       <img src="@/img/post_img_insta_4.png" alt="car"> -->
     </div>
    </section>
</main>